<main class="registrations">
  <h2 class="sign_up">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "register_form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div id="container">
      <div id="register_photo">
        <div class="photo reg">
          <%= image_tag "https://tse4.mm.bing.net/th?id=OIP.VwOipFm0fDDr_KOzoyrgVwAAAA&pid=Api&P=0&h=180",
          class: "profile_img",
          id: "p_img" %>
        </div>
        <div class="custom-file-input">
          <label for="file-upload" id="file-upload-label">Upload photo</label>
        </div>
      </div>
    <%= f.file_field :photo %>
    </div><br/>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name" %>
    </div><br />

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    placeholder: "Email" %>
    </div><br />
    <div class="field">
      <%= f.label :bio %>
      <%= f.text_area :bio,  placeholder: "Bio" %>
    </div><br />

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password,
                       autocomplete: "new-password",
                       placeholder: "Password" %>
    </div><br />

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,
                       autocomplete: "new-password",
                       placeholder: "Confirm password" %>
    </div><br />

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <div id="field" class="field have_account">
      <p>Already have an account ?</p>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</main>

 