<% if @users.blank? %>
  <p>There are not any users currently in the system.</p>
<% else %>
  <h1>All users</h1>
  <main>
    <ul class="users_list">
      <% @users.each do |user| %>
        <li class="list_item">
            <a class="link" href="/users/<%= user.id %>">
                    <div class="photo">
                      <% if user.photo.present? %>
                <%= image_tag user.photo %>
              <% else %>
                <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png' %>
              <% end %>
                    </div>
                    <div class="user_name">
                      <h3><%= user.name %></h3>
                      <p>Number of posts: <%= user.posts_counter %></p>
                    </div>
             </a>
            </li>
      <% end %>
    </ul>
  </main>
<% end %>
