<main>
    <div class="profile_wrap">
        <div class="photo">
             <% if @user.photo.present? %>
                <%= image_tag user.photo %>
              <% else %>
                <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png', class: 'profile_img' %>
              <% end %>
        </div>
        <div class="user_name">
            <h3><%= @user.name %></h3>
            <p>Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
    <div class="bio">
        <h4>Bio</h4> <br/>
        <p><%= @user.bio%></p>
    </div>
    <ul class="cards-container">
        <% @posts.each do |post|%>
        <li class="project">
            <%= link_to user_post_path(@user, post) do %>
              <div class="image-wrapper">
                <% if @user.photo.present? %>
                  <%= image_tag user.photo, class: 'project-img', alt: 'post' %>
                <% else %>
                  <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png', class: 'project-img', alt: 'post' %>
                <% end %>
              </div>
              <div class="project-footer">
                <div class="post-date-wrap">
                  <h4>Post #<%= post.id %></h4>
                  <h4>Jan 12 2023</h4>
                </div>
                <div class="project-title-wrapper">
                  <h4><%= post.title %></h4>
                </div>
                <div class="project-text-wrapper">
                  <p><%= truncate(post.text, length: 20) %></p>
                </div>
                <div class="project-likes-wrapper">
                   <p class="float">Comments:<%= post.comments.count %></p>
                   <p class="float">Likes: <%= post.likes.count %></p>
                </div>
              </div>
                 
      
            <% end %>
        </li>
        <% end %>
    </ul>
    <% if @user.posts.count > 0%>
      <div class="btn_container">
        <%= link_to 'See all posts', user_posts_path(@user) %>
        <a href="/users/<%=@user.id%>/posts/new">Add New Post </a>
      </div>
    <% else %>
      <a href="/users/<%=@user.id%>/posts/new">Add New Post </a>
    <% end %>
</main>