<main>
    <div class="list_item">
        <div class="photo">
             <% if @user.photo.present? %>
                <%= image_tag user.photo %>
              <% else %>
                <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png' %>
              <% end %>
        </div>
        <div class="user_name">
            <h3><%= @user.name %></h3>
            <p>Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
    <div class="bio">
        <h4>Bio</h4> <br/>
        <p><%= @user.bio%></p>
    </div>
    <ul class="list">
        <% @posts.each do |post|%>
        <li class="text">
            <%= link_to user_post_path(@user, post) do %>
                <h4>Post #<%= post.id %></h4><br/>
                <p><%= post.text %></p>
                <p class="float">Comments:<%= post.comments.count %>, Likes: <%= post.likes.count %></p>
            <% end %>
        </li>
        <% end %>
    </ul>
    <div class="btn_container">
      <%= link_to 'See all posts', user_posts_path(@user) %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
</main>