<main>
    <div class="list_item">
        <div class="photo">
            <%= image_tag (@user.photo) %>
        </div>
        <div class="user_name">
            <h3><%= @user.name %></h3>
            <p>Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
    <div class="bio">
        <h4>Bio</h4> <br/>
        <p><%= @user.bio%></p>
    </div>
    <ul class="list">
        <% @user.posts.each do |post|%>
        <a href="/users/<%=@user.id%>/posts">
            <li class="text">
                <h4>Post #<%= post.id %></h4><br/>
                <p><%= post.text %></p>
                <p class="float">Comments:<%= post.comments.count %>, Likes: <%= post.likes.count %></p>
            </li>
        </a>
        <% end %>
    </ul>
    <div class="btn_container">
      <button class="see_more">See all posts</button>
    </div>
</main>