<main>
    <div id="list_item" class="profile_wrap">
        <div class="photo">
            <% if @user.photo.present? %>
                <%= image_tag user.photo, class: 'profile_img' %>
              <% else %>
                <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png', class: 'profile_img' %>
              <% end %>
        </div>
        <div class="user_name">
           <h4><%= @user.name %></h4>
           <p>Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
    <% if @posts.blank? %>
    <p>There are not any post currently for this author.</p>
    <a href="/users/<%=@user.id%>/posts/new">Add New Post </a>
    <% else %>
        <ul id="list" class="list">
        <% @posts.each do |post| %>
        <li class="post">
            <%= link_to user_post_path(@user, post), class: "link" do %>
                <div class="text">
                    <h4>Post #<%= post.id %></h4> <br/>
                    <h3><%= post.title %></h3> <br/>
                    <p><%= truncate(post.text, length: 20) %></p>
                    <p class="float">Comments:<%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
                </div>
            <%end%>
            <div class="comments">
                <div class="comments_list">
                    <ul>
                        <% post.recent_comments.each do |comment| %>
                        <li><%= @user.name %>: <%= comment.text %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </li>
        <% end %>
        </ul>
      <% if @user.posts.count > 3 %>
    <div class="btn_container">
      <button id="next" class="see_more">Next</button>
      <a href="/users/<%=@user.id%>/posts/new">Add New Post </a>
    </div>
    <% else %>
    <a href="/users/<%=@user.id%>/posts/new">Add New Post </a>
    <% end %>
  <% end %>-
</main>
