<h1>New Post</h1>
   <%= form_with model: @post, url: user_posts_path(user_id: current_user.id), method: :post do |f| %>


  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Titel" %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text, placeholder: "Description" %>
  </div>
  <div class="field">
      <%= f.file_field :image, placeholder: "Upload image" %>
  </div>

  <%= f.submit "Add post" %>
<% end %>