<main>
    <div>
        <div>
            <h4>Post #<%= @post.id %> by <%= @user.name %></h4>
            <p>Comments:<%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
        </div>
        <div>
            <%= @post.text %>
        </div>
    </div>
    <ul>
    <% @post.comments.each do |comment| %>
    <li><%= @user.name%>: <%= comment.text%></li>
    <% end %>
  </ul>
</main>