<main>
    <div class="detail">
        <div class="user">
            <h4>Post #<%= @post.id %> by <%= @user.name %></h4>
            <p>Comments:<%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
        </div><br/>
        <div class="detail_text">
            <%= @post.text %>
        </div>

    </div>
    <ul class="detail_comments">
        <% @post.comments.each do |comment| %>
        <li><%= @user.name%>: <%= comment.text%></li>
        <% end %>
  </ul>
   <div class="btn_container">
    <a href="/users/<%=@user.id%>/posts/<%=@post.id%>/comments/new">Add Comment</a>
      <% if current_user.likes.exists?(post: @post) %>
      <%= button_to user_post_like_path(user_id: @user.id, post_id: @post.id, id: current_user.likes.find_by(post: @post).id), method: :delete, class: "like-btn" do %>
        Like<%= @post.likes.count %>
      <% end %>
    <% else %>
      <%= button_to user_post_likes_path(user_id: current_user.id, post_id: @post.id), method: :post, class: "like-btn" do %>
        Like<%= @post.likes.count %>
      <% end %>
    <% end %>
  </div>
</main>