<main>
    <div class="detail">

          <div class="profile_wrap">
        <div class="photo">
             <% if @user.photo.present? %>
                <%= image_tag @user.photo, class: 'profile_img' %>
              <% else %>
                <%= image_tag 'https://tse4.mm.bing.net/th?id=OIP.VwOipFm0fDDr_KOzoyrgVwAAAA&pid=Api&P=0&h=180', class: 'profile_img' %>
              <% end %>
        </div>
        <div class="user_name">
            <h3><%= @user.name %></h3>
            <p>Post# <%= @post.id %></p>
        </div>
    </div>
        <div class="detail_text">
            <p><%= @post.text %></p>
        </div>
        <article class="post post_detail">
              <div class="detail_image_wrapper">
                <% if @post.image.present? %>
                  <%= image_tag @post.image, class: 'post-img', alt: 'post' %>
                <% else %>
                  <%= image_tag 'https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png', class: 'post-img', alt: 'post' %>
                <% end %>
              </div>
              <div class="post-footer">
                <div class="post-title-wrap">
                  <h4><%= @post.title %></h4>
                </div>
                <div class="likes_count">
                   <p>Comments:<%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
                </div>
                <div class="btn_container">
      <% if can? :destroy,  @post %>
        <%= button_to 'Delete', user_post_path(@user, @post), method: :delete, class: "like-btn delete" %>
      <% end %>
      <%= button_to 'Comment', new_user_post_comment_path(@user, @post), method: :get, class: "like-btn" %>
      <% if current_user.likes.exists?(post: @post) %>
        <%= button_to 'Unlike ', user_post_like_path(user_id: @user.id, post_id: @post.id, id: current_user.likes.find_by(post: @post).id), method: :delete, class: "like-btn" %>
       
    <% else %>
      <%= button_to 'Like', user_post_likes_path(user_id: current_user.id, post_id: @post.id), method: :post, class: "like-btn" %>
    <% end %>
  </div>
              </div>
        </article>
    </div>
    <ul class="detail_comments">
        <% @post.comments.each do |comment| %>
        <li class="comment">
          <div class="photo comment_photo">
             <% if @user.photo.present? %>
                <%= image_tag @user.photo, class: 'profile_img' %>
              <% else %>
                <%= image_tag 'https://tse4.mm.bing.net/th?id=OIP.VwOipFm0fDDr_KOzoyrgVwAAAA&pid=Api&P=0&h=180', class: 'profile_img' %>
              <% end %>
        </div>
          <div class="comment_wrap">
            <h3> <%= comment.author.name %></h3> 
            <p><%= comment.text%></p>
            <div class="reply-btn-wrap">
              <% if can? :destroy, comment %>
                <%= button_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
              <%end%>
              <%= button_to 'Reply', new_user_post_comment_reply_path(@user, @post, comment), method: :get, class: "like-btn" %>
            </div>
            <%# Replies %>
            <ul class="replies">
     <% comment.replies.each do |r| %>
        <li class="comment reply">
          <div class="photo comment_photo">
             <% if @user.photo.present? %>
                <%= image_tag @user.photo, class: 'profile_img' %>
              <% else %>
                <%= image_tag 'https://tse4.mm.bing.net/th?id=OIP.VwOipFm0fDDr_KOzoyrgVwAAAA&pid=Api&P=0&h=180', class: 'profile_img' %>
              <% end %>
        </div>
          <div class="comment_wrap">
           <h3> <%= r.author.name %></h3> 
           <p><%= r.text%></p>
          </div>
          </li>
        <% end %>
  </ul>
          </div>
          </li>
        <% end %>
  </ul>
</main>