<main>
    <div class="detail">
        <div class="user">
            <h4>Post #<%= @post.id %> by <%= @user.name %></h4>
            <p>Comments:<%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
        </div><br/>
        <div class="detail_text">
          <h3><%= @post.title %></h3>
            <%= @post.text %>
        </div>

    </div>
    <ul class="detail_comments">
        <% @post.comments.each do |comment| %>
        <li>
          <%= comment.author.name%>: 
          <%= comment.text%>
          <% if can? :destroy, comment %>
          <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
          </li>
        <% end %>
  </ul>
   <div class="btn_container">
      <% if can? :destroy,  @post %>
        <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete %>
        <%= button_to 'Add Comment', new_user_post_comment_path(@user, @post), method: :get %>

      <% end %>
      <% if current_user.likes.exists?(post: @post) %>
        <%= button_to user_post_like_path(user_id: @user.id, post_id: @post.id, id: current_user.likes.find_by(post: @post).id), method: :delete, class: "like-btn" do %>
        Like<%= @post.likes.count %>
      <% end %>
    <% else %>
      <%= button_to user_post_likes_path(user_id: current_user.id, post_id: @post.id), method: :post, class: "like-btn" do %>
        Like<%= @post.likes.count %>
      <% end %>
    <% end %>
  </div>
</main>